<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="org.apache.cordova.plugin.screencapture"
    version="1.0.0">

    <name>Screen Capture</name>
	<engines>
		<engine name="cordova" version=">=2.3.0" />
	</engines>
	
    <js-module src="www/screencapture.js" name="screencapture">
        <clobbers target="screencapture" />
    </js-module>
   

    <!-- android -->
    <platform name="android">
    	<source-file src="src/android/ScreenCapture.java" target-dir="src/org/apache/cordova/plugin" />

        <!-- Cordova >= 2.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenCapture">
                <param name="android-package" value="org.apache.cordova.plugin.ScreenCapture"/>
            </feature>
        </config-file>

    </platform>
    <!-- ios -->
    <platform name="ios">

        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenCapture">
                <param name="ios-package" value="CDVScreenCapture" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVScreenCapture.h" />
        <source-file src="src/ios/CDVScreenCapture.m" />
        
    </platform>
</plugin>
